*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    width: 100%;
    height: 100vh;
}
@mixin flexrow ($display, $direction, $justify, $align) {
    display: $display;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}
@mixin positions ($position, $top, $left, $transform) {
    position: $position;
    top: $top;
    left: $left;
    transform: $transform;
}
@mixin lines ($top, $right, $bottom, $left, $height, $width, $background) {
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
    height: $height;
    width: $width;
    background: $background;
}
.nav-container{
    width: 100%;
    height: 70vh;
    position: relative;
    overflow: hidden;

      .full-screen-video{
          width: 100%;
          height: 70vh;
          .video{
              min-width: 100%;
              min-height: 100%;
          }
      }
}
.nav-list{
    position: absolute;
    top: 0;
    width: 100%;
    .nav-img button{
        display: block;
        width: 100%;
        margin-bottom: 2rem;
        outline: none;
        border: none;
        background: transparent;
        @include flexrow(flex, column, flex-end, flex-start);

         img{ 
             width: 4rem;
             height: 4rem;
             margin: 1rem;
            }
     ul{
        visibility: hidden; 
        padding: 1.5rem;
        min-width: 100%;
        @include flexrow(flex, column, flex-end, center);
        background: rgb(233, 134, 5);
         li{
            list-style: none;
              a{
                  font-size: 2rem;
                  font-weight: 900;
                  color: black;
                  text-decoration: none;
                }
           }
        }
    }
}
.video-contents{
    width: 100%;
    margin: auto;
    font-size: 2.4rem;
    text-align: center;
    line-height: 3rem;
    @include positions(absolute, 38%, 37%, translate(-38%, -37%));
    text-shadow: 2px 1px 2px white;
    font-family: Tahoma, arial;
    h4{
        font-size: 2rem;
        color:black;
        margin: 2.5rem 0;
    }
}
.starter-link{
    @include positions(absolute, 68%, 50%, translate(-68%, -50%));
    text-shadow: 2px 1px 2px white;
    margin: 2rem;
    padding: 0.5rem;
    min-width: 10rem;
    text-align: center;
    overflow: hidden;
    font-family: impact;
    // @include flexrow(flex, column, center, center);
     a{
         text-decoration: none;
         font-size: 3rem;
         color: black;
         font-weight: 700;

        span:nth-child(1){
            @include positions(absolute, 68%, 50%, translate(-68%, -50%));
            @include lines(0, 100%, 100%, -100%, 3px, 100%, linear-gradient(90deg, transparent, rgb(7, 165, 7)));
            animation: left-slider 1s linear infinite;
        }
        @keyframes left-slider {
            from{
                transform: translateX(-100%);
            }
            to{
                transform: translateX(100%);
            }
        }
        span:nth-child(3){
            @include positions(absolute, 68%, 50%, translate(-68%, -50%));
            @include lines(100%, -100%, 0, 100%, 3px, 100%, linear-gradient(270deg, transparent, rgb(7, 165, 7)));
            animation: right-slider 1s linear infinite;
            animation-delay: 0.5s;
        }
        @keyframes right-slider {
            from{
                transform: translateX(100%);
            }
            to{
                transform: translateX(-100%);
            }
        }
        span:nth-child(2){
            @include positions(absolute, 68%, 50%, translate(-68%, -50%));
            @include lines(-100%, 0, 100%, 100%, 100%, 3px, linear-gradient(180deg, transparent, rgb(7, 165, 7)));
            animation: top-slider 1s linear infinite;
            transition-delay: 0.25s;
        }
        @keyframes top-slider {
            from{
                transform: translateY(-100%);
            }
            to{
                transform: translateY(100%);
            }
        }
        span:nth-child(4){
            @include positions(absolute, 68%, 50%, translate(-68%, -50%));
            @include lines(100, 100%, -100%, 0, 100%, 3px, linear-gradient(3600deg, transparent, rgb(7, 165, 7)));
            animation: bottom-slider 1s linear infinite;
            transition-delay: 0.75s;
        }
        @keyframes bottom-slider {
            from{
                transform: translateY(100%);
            }
            to{
                transform: translateY(-100%);
            }
        }
    }
}
body{
    background: rgb(224, 223, 223);
}
.media-icon{
    width: 100%;
    @include flexrow(flex, row, center, flex-end);
    position: absolute;
    bottom: 1rem;
    margin-bottom: 1rem;
      button{
          width: 2rem;
          height: 2rem;
           img{
             width: 100%;
             height: 100%;  
           }
      }
}
#imgContainer{
    width: 80%;
    min-height: 55rem;
    margin: 2rem auto;
    border-radius: 1.5rem;
    position: relative;
    font-family: forum;
    color: black;

      .first-img-content{
          width: 100%;
          min-height: 28rem;
          margin: auto;
          #img{
              width: 100%;
              height: 100%;
              border-radius: 1.5rem;
          }
      }
      .img-content{
          width: 100%;
          min-height: 30rem;
          font-size: 2.3rem;
          text-align: left;
          line-height: 2.8rem;
          font-weight: 500;
          h3{
              font-size: 2.5rem;
              text-align: center;
              text-decoration: underline;
              margin: 2rem 0;
              font-family: helvetica;
          }
      }
}
#imgContainers{
    display: none;
}
.next::after, .prev::after{
    content: '>';
    margin: 0 1rem;
    height: 2rem;
    width: 2.6rem;
    background-color: rgb(36, 33, 33);
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    color: white;
    text-align: center;
    font-size: 1rem;
    padding-top: 0.4rem;
    opacity: 0.6;
    transition: opacity 0.3s linear;
    cursor: pointer;
}
.prev::after{
    content: '<';
    left: 0;
}
.next:hover::after, .prev:hover::after{
    opacity: 1;
}
.container-sub-footer, .footer-second a {
    width: 100%;
    @include flexrow(flex, column, center, center);
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: arial;
    text-decoration: none;
    color: white;
    background: black;
    text-align: center;
      
    .cold {
            border-bottom: 2px solid white;
            width: 65%;
            margin: 1rem auto;
    }
    .footer-second{
        margin: 1rem 0;
    }
    .copy{
        margin-bottom: 1rem;
    }
}
@media (min-width: 400px){
    .video-contents{
        font-size: 2.5rem;
        line-height: 2.8rem;
        text-shadow: 3px 2px 3px rgb(235, 93, 10);
        h4{
            font-size: 2.6rem;
        }
    }
    .starter-link{
        text-shadow: 3px 2px 3px rgb(32, 202, 10);
         a{
             font-size: 3.4rem;
        }
    }
    .media-icon{
          button{
              width: 3rem;
              height: 3rem;
          }
    }
    #imgContainer{
          .first-img-content{
              width: 100%;
              height: 45rem;
          }
          .img-content{
              font-size: 2.7rem;
              line-height: 3.2rem;
              h3{
                  font-size: 3.2rem;
              }
          }
    }
}
@media (min-width: 600px){
    #imgContainer{
        display: none;
    }
    #imgContainers{
        display: block;
        .flex-container{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .img-container{
                width: 25%;
                margin: 2rem;
                .first-img-content{
                    width: 100%;
                    height: 25rem;
                    #img{
                        width: 100%;
                        height: 100%;
                        border-radius: 1rem;
                    }
                }
                .img-content{
                    font-family: arial;
                    font-size: 1.8rem;
                    line-height: 2.4rem;
                    h3{
                        font-size: 2.5rem;
                        margin: 1rem;
                        text-align: center;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    .container-sub-footer, .footer-second a {
        font-size: 1.8rem;
        line-height: 2.4rem;
    }
    .nav-list{
        .nav-img button{
             img{ 
                 display: none;
                }
         ul{
            visibility: visible;
            @include flexrow(flex, row, center, center);
            background: transparent;
             li{
                margin-left: 2rem;
                  a{
                      font-size: 2.1rem;
                    }
               }
            }
        }
    }
}
@media (min-width: 900px){
    #imgContainers{
        .flex-container{
            .img-container{
                .first-img-content{
                    height: 30rem;
                }
                .img-content{
                    font-size: 2rem;
                    line-height: 2.8rem;
                    h3{
                        font-size: 3rem;
                    }
                }
            }
        }
    }
    .container-sub-footer, .footer-second a {
        font-size: 2.1rem;
        line-height: 2.8rem;
    }
    .nav-list{
        .nav-img button{
         ul{
            padding: 2.4rem;
             li{
                margin-left: 2.2rem;
                  a{
                      font-size: 2.4rem;
                    }
               }
            }
        }
    }
}
// @media (min-width: 1200px){
//     #imgContainers{
//         .flex-container{
//             .img-container{
//                 .first-img-content{
//                     height: 37rem;
//                 }
//                 .img-content{
//                     font-size: 2.4rem;
//                     line-height: 3.4rem;
//                     h3{
//                         font-size: 3.4rem;
//                     }
//                 }
//             }
//         }
//     }
//     .container-sub-footer, .footer-second a {
//         font-size: 2.4rem;
//         line-height: 3.2rem;
//     }
//     .nav-list{
//         .nav-img button{
//          ul{
//             padding: 2.6rem;
//              li{
//                 margin-left: 2.4rem;
//                   a{
//                       font-size: 2.7rem;
//                     }
//                }
//             }
//         }
//     }
// }